doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title Attack Server | #{title}  
      link(href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.3/tailwind.min.css" integrity="sha512-wl80ucxCRpLkfaCnbM88y4AxnutbGk327762eM9E/rRTvY/ZGAHWMZrYUq66VQBYMIYDFpDdJAOGSLyIPHZ2IQ==" rel="stylesheet" crossorigin="anonymous")
  header.py-5.pl-10.bg-indigo-500.text-white Web Attack Solutions Test Server
    h1.float-right.pr-10 SQL Injection Simulation
  
  block content

  footer.text-center ©️ Parmjit Singh Gill